@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
  color: #202124;
}

.dark body {
  background-color: #171717;
  color: #e8eaed;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #dadce0;
  border-radius: 4px;
}

.dark ::-webkit-scrollbar-thumb {
  background: #5f6368;
}

::-webkit-scrollbar-thumb:hover {
  background: #bdc1c6;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #757a80;
}
